 {
    outline: 1px solid red;
}

html,body {
    padding: 0px;
    margin: 0px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    
}

.DateWrapper {
    display: flex;
    flex-flow: column wrap;
    width: 20rem;
    min-height: 20rem;
    border-radius: 19px;
    border: 2px black solid;
}

.DateContents {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#currMonth { 
    background-color: darksalmon;
    color: white;
    font-size: 2.5rem;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}

#currMonth p {
    margin: 1.5rem auto;
}

#currDay, #currYear{
    font-family: 'Franklin Gothic Light';
}

#currDay p { 
    margin-bottom: 0px;
}

#currDayNum {
    font-size: 8rem;
}

#currDayNum p {
    margin: 0;
}

#currYear p {
    margin-top: 0px;
}